The data you will use the Pennsylvania election results. This data file election.csv is provided for you in data file. Load the csv file using read_cvs and before that import the pandas as pd. Use the 'county' column as index_col

In [2]:

import pandas as pd
election = pd.read_csv('data/election.csv', index_col='county')
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin
county
Adams      27.629667
Allegheny  14.454399
Armstrong  37.204293
Beaver      6.605012
Bedford    54.929118

election.loc['Bedford', 'winner']. That is, what is the row position of 'Bedford', and the column position of 'winner'

In [13]:
print(election.loc['Bedford','winner'])

Romney

Find the who wind the election at Washington?.

In [14]:
print('Winner of election is ' + election.loc['Washington','winner'])

Winner of election is Romney

Create a separate DataFrame results with the columns ['winner', 'total', 'voters'] and print the head of new dataframe

In [15]:
results = election[['winner', 'total','voters']]
print(results.head())

           winner   total  voters
county
Adams      Romney   41973   61156
Allegheny   Obama  614671  924351
Armstrong  Romney   28322   42147
Beaver     Romney   80015  115157
Bedford    Romney   21444   32189

# Slicing rows
The Pennsylvania US election results data set that you have been using so far is ordered by county name. This means that county names can be sliced alphabetically
### EXE   
 Slice the row labels 'Perry' to 'Potter' and assingn your results to p_counties)

In [16]:
p_counties =election['Perry':'Potter']
print(p_counties)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175

                 margin
county
Perry         38.821272
Philadelphia  71.172800
Pike          10.978242
Potter        45.898681

### EXE 2:
Slice the row labels 'Potter' to 'Perry' in reverse order. To do this for hypothetical row labels 'a' and 'b', you could use a stepsize of -1 like so: `df.loc['b':'a':-1]`

In [17]:
p_counties_rev = election['Potter':'Perry':-1]
print(p_counties_rev)

             state   total      Obama     Romney  winner   voters    turnout  \
county
Potter          PA    7205  26.259542  72.158223  Romney    10913  66.022175
Pike            PA   23164  43.904334  54.882576  Romney    41840  55.363289
Philadelphia    PA  653598  85.224251  14.051451   Obama  1099197  59.461407
Perry           PA   18240  29.769737  68.591009  Romney    27245  66.948064

                 margin
county
Potter        45.898681
Pike          10.978242
Philadelphia  71.172800
Perry         38.821272

# Slicing columns
Similar to row slicing, columns can be sliced by value. In this exercise, your job is to slice column names from the Pennsylvania election results DataFrame using .loc[].
### EXE

1 - Slice the columns from the starting column to 'Obama' and assign the result to left_columns.

2 - Slice the columns from 'Obama' to 'winner' and assign the result to middle_columns

3 - Slice the columns from 'Romney' to the end and assign the result to right_columns and also print all of the assigned results.

In [18]:
left_columns = election.loc[:,: 'Obama']
print(left_columns.head())

          state   total      Obama
county
Adams        PA   41973  35.482334
Allegheny    PA  614671  56.640219
Armstrong    PA   28322  30.696985
Beaver       PA   80015  46.032619
Bedford      PA   21444  22.057452

In [19]:
middle_columns = election.loc[:, 'Obama':'winner']
print(middle_columns.head())

               Obama     Romney  winner
county
Adams      35.482334  63.112001  Romney
Allegheny  56.640219  42.185820   Obama
Armstrong  30.696985  67.901278  Romney
Beaver     46.032619  52.637630  Romney
Bedford    22.057452  76.986570  Romney

In [20]:
right_columns = election.loc[:, 'Romney' :]
print(right_columns.head())

              Romney  winner  voters    turnout     margin
county
Adams      63.112001  Romney   61156  68.632677  27.629667
Allegheny  42.185820   Obama  924351  66.497575  14.454399
Armstrong  67.901278  Romney   42147  67.198140  37.204293
Beaver     52.637630  Romney  115157  69.483401   6.605012
Bedford    76.986570  Romney   32189  66.619031  54.929118

* You can use lists to select specific row and column labels with the .loc[] accessor. In this exercise, your job is to select the counties `['Philadelphia', 'Centre', 'Fulton']` and the columns `['winner','Obama','Romney']` from the election DataFrame, which has been pre-loaded for you with the index set to 'county'.

In [21]:
rows = ['Philadelphia', 'Centre', 'Fulton']
cols = ['winner','Obama','Romney']
three_counties = election.loc[rows,cols]
print(three_counties)

              winner      Obama     Romney
county
Philadelphia   Obama  85.224251  14.051451
Centre        Romney  48.948416  48.977486
Fulton        Romney  21.096291  77.748861

# Thresholding data
In this exercise,there is a column called 'turnout' that contains the percentage of voter turnout per county. Your job is to prepare a boolean array to select all of the rows and columns where voter turnout exceeded 70%.

1-Create a boolean array of the condition where the 'turnout' column is greater than 70 and assign it to high_turnout.

2-Filter the election DataFrame with the high_turnout array and assign it to high_turnout_df.

3-Print the filtered DataFrame.

In [22]:
high_turnout = election.turnout > 70
high_turnout_df = election[high_turnout]
print(high_turnout_df)

             state   total      Obama     Romney  winner  voters    turnout  \
county
Bucks           PA  319407  49.966970  48.801686   Obama  435606  73.324748
Butler          PA   88924  31.920516  66.816607  Romney  122762  72.436096
Chester         PA  248295  49.228539  49.650617  Romney  337822  73.498766
Forest          PA    2308  38.734835  59.835355  Romney    3232  71.410891
Franklin        PA   62802  30.110506  68.583803  Romney   87406  71.850903
Montgomery      PA  401787  56.637223  42.286834   Obama  551105  72.905708
Westmoreland    PA  168709  37.567646  61.306154  Romney  238006  70.884347

                 margin
county
Bucks          1.165284
Butler        34.896091
Chester        0.422079
Forest        21.100520
Franklin      38.473297
Montgomery    14.350390
Westmoreland  23.738508

We have a pittsburgh2013.csv file that contain the daily weather data in Pittsburgh in 2013 obtained from Weather Underground. Read the file with read_csv functoin and name as weather.

In [23]:
weather = pd.read_csv('data/pittsburgh2013.csv')
print(weather.head())

       Date  Max TemperatureF  Mean TemperatureF  Min TemperatureF  \
0  2013-1-1                32                 28                21
1  2013-1-2                25                 21                17
2  2013-1-3                32                 24                16
3  2013-1-4                30                 28                27
4  2013-1-5                34                 30                25

   Max Dew PointF  Mean Dew PointF  Min DewpointF  Max Humidity  \
0              30               27             16           100
1              14               12             10            77
2              19               15              9            77
3              21               19             17            75
4              23               20             16            75

   Mean Humidity  Min Humidity       ...        Max VisibilityMiles  \
0             89            77       ...                         10
1             67            55       ...                         10
2             67            56       ...                         10
3             68            59       ...                         10
4             68            61       ...                         10

   Mean VisibilityMiles  Min VisibilityMiles  Max Wind SpeedMPH  \
0                     6                    2                 10
1                    10                   10                 14
2                    10                   10                 17
3                    10                    6                 23
4                    10                   10                 16

   Mean Wind SpeedMPH  Max Gust SpeedMPH  PrecipitationIn   CloudCover  \
0                   8                NaN             0.00            8
1                   5                NaN             0.00            4
2                   8               26.0             0.00            3
3                  16               32.0             0.00            4
4                  10               23.0             0.21            5

   Events  WindDirDegrees
0    Snow             277
1     NaN             272
2     NaN             229
3     NaN             250
4     NaN             221

[5 rows x 23 columns]

# Using apply() to transform a column
The weather DataFrame has 'Mean TemperatureF' and 'Mean Dew PointF' columns. Write a function to convert degrees Fahrenheit to degrees Celsius and named as to_celsius:

In [24]:
def to_celsius(F):
    return (F -32)*5/9

1- Apply the to_celsius function over the ['Mean TemperatureF','Mean Dew PointF'] columns of the weather DataFrame.
2- Reassign the columns of df_celsius to ['Mean TemperatureC','Mean Dew PointC']

In [25]:
df_celsius = weather[['Mean TemperatureF' , 'Mean Dew PointF']].apply(to_celsius)
df_celsius.columns = ['Mean TemperatureC' , 'Mean Dew PointC']
print(df_celsius.head())

   Mean TemperatureC  Mean Dew PointC
0          -2.222222        -2.777778
1          -6.111111       -11.111111
2          -4.444444        -9.444444
3          -2.222222        -7.222222
4          -1.111111        -6.666667

# Using .map() with a dictionary
The .map() method is used to transform values according to a Python dictionary look-up. In this exercise you'll practice this method while returning to working with the election DataFrame.

Your job is to use a dictionary to map the values 'Obama' and 'Romney' in the 'winner' column to the values 'blue' and 'red', and assign the output to the new column 'color'.

1-Create a dictionary with the key:value pairs 'Obama':'Blue' and 'Romney':'red'.

2-Use the .map() method on the 'winner' column using the red_vs_blue dictionary you created.

3-Print the output of election.head().

In [26]:
red_vs_blue = {'Obama' : 'Blue' , 'Romney' : 'Red'}
election['color'] = election.winner.map(red_vs_blue)
print(election.head())

          state   total      Obama     Romney  winner  voters    turnout  \
county
Adams        PA   41973  35.482334  63.112001  Romney   61156  68.632677
Allegheny    PA  614671  56.640219  42.185820   Obama  924351  66.497575
Armstrong    PA   28322  30.696985  67.901278  Romney   42147  67.198140
Beaver       PA   80015  46.032619  52.637630  Romney  115157  69.483401
Bedford      PA   21444  22.057452  76.986570  Romney   32189  66.619031

              margin color
county
Adams      27.629667   Red
Allegheny  14.454399  Blue
Armstrong  37.204293   Red
Beaver      6.605012   Red
Bedford    54.929118   Red

# Changing index of a DataFrame
 indexes are immutable objects. This means that if you want to change or modify the index in a DataFrame, then you need to change the whole index. You will do this now, using a list comprehension to create the new index.

A list comprehension is a succinct way to generate a list in one line. For example, the following list comprehension generates a list that contains the cubes of all numbers from 0 to 9: cubes = [i**3 for i in range(10)]. This is equivalent to the following code:

cubes = []
for i in range(10):
    cubes.append(i**3)
    
Before getting starte, you need the read cvs file named 'sales.cs' located in data/sales/

In [27]:
sales = pd.read_csv('data/sales/sales.csv', index_col = 'month')
print(sales.head())

       eggs  salt  spam
month
Jan      47  12.0    17
Feb     110  50.0    31
Mar     221  89.0    72
Apr      77  87.0    20
May     132   NaN    52

1-Create a list new_idx with the same elements as in sales.index, but with all characters capitalized.

2-Assign new_idx to sales.index.

3-Print the sales dataframe.

In [28]:
new_idx = [idx.upper() for idx in sales.index] 
sales.index = new_idx
print(sales.head())

     eggs  salt  spam
JAN    47  12.0    17
FEB   110  50.0    31
MAR   221  89.0    72
APR    77  87.0    20
MAY   132   NaN    52

1-Assign the string 'MONTHS' to sales.index.name to create a name for the index.

2-Print the sales dataframe to see the index name you just created.

3-Now assign the string 'PRODUCTS' to sales.columns.name to give a name to the set of columns.

4-Print the sales dataframe again to see the columns name you just created.

In [29]:
sales.index.name = 'MONTHS'
sales.columns.name = 'PRODUCTS'
print(sales)

PRODUCTS  eggs  salt  spam
MONTHS
JAN         47  12.0    17
FEB        110  50.0    31
MAR        221  89.0    72
APR         77  87.0    20
MAY        132   NaN    52
JUN        205  60.0    55

1-Generate a list months with the data `['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']`. This has been done for you.

2-Assign months to sales.index.

3-Print the modified sales dataframe and verify that you now have month information in the index.

In [30]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun']
sales.index = months
print(sales)

PRODUCTS  eggs  salt  spam
Jan         47  12.0    17
Feb        110  50.0    31
Mar        221  89.0    72
Apr         77  87.0    20
May        132   NaN    52
Jun        205  60.0    55

 Setting & sorting a MultiIndex:
1-Reset index for sales dataframe

2-pritn and see the new dataframe

3-Create column followed that we can multiindex with this column
sales['month'] = [1,2,1,2,1,2]
sales['state'] = ['NA', 'NA', 'CA','CA','TX','TX']

1-Create a MultiIndex by setting the index to be the columns ['state', 'month'].

2-Sort the MultiIndex using the .sort_index() method.

3-Print the sales DataFrame.

In [31]:
print(sales)

PRODUCTS  eggs  salt  spam
Jan         47  12.0    17
Feb        110  50.0    31
Mar        221  89.0    72
Apr         77  87.0    20
May        132   NaN    52
Jun        205  60.0    55

In [32]:
sales.reset_index()

PRODUCTS index  eggs  salt  spam
0          Jan    47  12.0    17
1          Feb   110  50.0    31
2          Mar   221  89.0    72
3          Apr    77  87.0    20
4          May   132   NaN    52
5          Jun   205  60.0    55

In [33]:
sales['month'] = [1,2,1,2,1,2]
sales['state'] = ['NA', 'NA', 'CA','CA','TX','TX']
print(sales)

PRODUCTS  eggs  salt  spam  month state
Jan         47  12.0    17      1    NA
Feb        110  50.0    31      2    NA
Mar        221  89.0    72      1    CA
Apr         77  87.0    20      2    CA
May        132   NaN    52      1    TX
Jun        205  60.0    55      2    TX

In [34]:
sales = sales.set_index(['state','month'])
sales = sales.sort_index()
print(sales)

PRODUCTS     eggs  salt  spam
state month
CA    1       221  89.0    72
      2        77  87.0    20
NA    1        47  12.0    17
      2       110  50.0    31
TX    1       132   NaN    52
      2       205  60.0    55

1-Print sales.loc[['CA', 'TX']]. Note how New York is excluded.

2-Print sales['CA':'TX']. Note how New York is included.

In [35]:
print(sales.loc[['CA','TX']])

PRODUCTS     eggs  salt  spam
state month
CA    1       221  89.0    72
      2        77  87.0    20
TX    1       132   NaN    52
      2       205  60.0    55

In [36]:
print(sales.loc['CA':'TX'])

PRODUCTS     eggs  salt  spam
state month
CA    1       221  89.0    72
      2        77  87.0    20
NA    1        47  12.0    17
      2       110  50.0    31
TX    1       132   NaN    52
      2       205  60.0    55

Indexing multiple levels of a MultiIndex
Looking up indexed data is fast and efficient. And you have already seen that lookups based on the outermost level of a MultiIndex work just like lookups on DataFrames that have a single-level Index.

Looking up data based on inner levels of a MultiIndex can be a bit trickier. In this exercise, you will use your sales DataFrame to do some increasingly complex lookups.

The trickiest of all these lookups are when you want to access some inner levels of the index. In this case, you need to use slice(None) in the slicing parameter for the outermost dimension(s) instead of the usual :, or use pd.IndexSlice

    1-Look up data for the New York column ('NA') in month 1.

    2-Look up data for the California and Texas columns ('CA', 'TX') in month 2.
    
    3-Look up data for all states in month 2. Use (slice(None), 2) to extract all rows in month 2

In [37]:
NY_month1 = sales.loc[(['NA'], 1),:]  # for the multi index 
print(NY_month1)

PRODUCTS     eggs  salt  spam
state month
NA    1        47  12.0    17

In [38]:
CA_TX_month2 = sales.loc[(['CA','TX'], 2), :]
print(CA_TX_month2)

PRODUCTS     eggs  salt  spam
state month
CA    2        77  87.0    20
TX    2       205  60.0    55

In [39]:
all_month2 = sales.loc[(slice(None),2),:]
print(all_month2)

PRODUCTS     eggs  salt  spam
state month
CA    2        77  87.0    20
NA    2       110  50.0    31
TX    2       205  60.0    55

# Pivot Table

pandas.pivot_table(`data`, `values=` 'column to aggregate', , `index=`' the column as want to use as index', `columns=`'take the cloumns value and turn them a column one by one', `aggfunc=`'mean', `fill_value=`Value to replace missing values with, margins=False :Add all row / columns , dropna=True : Do not include columns whose entries are all NaN, margins_name= Name of the row / column that will contain the totals when margins is True)

Let's Create a data frame for the different treatment are response to the this treastment based on the gender.

In [40]:
df = pd.DataFrame({'id' : [1, 2, 3, 4],
                   'treatment' : ['A', 'A', 'B', 'B'],
                   'gender' : ['F', 'M', 'F', 'M'],
                   'response' : [5, 3, 8, 7]})
print(df)

  gender  id  response treatment
0      F   1         5         A
1      M   2         3         A
2      F   3         8         B
3      M   4         7         B

So, If we want to see the How different  treatment  affect the cender. So we can pivot the table with pivot. to do this use the treatment as index, fot column use the Gender asd for the values use the response.

In [41]:
df_pivot = df.pivot(index = 'treatment', columns = 'gender' , values = 'response' )
print(df_pivot)

gender     F  M
treatment
A          5  3
B          8  7

Lets check out different example and use also the aggfunc method.

In [42]:
df2 = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                          "bar", "bar", "bar", "bar"],
                    "B": ["one", "one", "one", "two", "two",
                          "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                          "small", "large", "small", "small",
                          "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7]})
print(df2)

     A    B      C  D
0  foo  one  small  1
1  foo  one  large  2
2  foo  one  large  2
3  foo  two  small  3
4  foo  two  small  3
5  bar  one  large  4
6  bar  one  small  5
7  bar  two  small  6
8  bar  two  large  7

In [43]:
import numpy as np
df2_pivot = df2.pivot_table( values='D', index=['A', 'B'], columns=['C'], aggfunc=np.sum)
print(df2_pivot)

C        large  small
A   B
bar one    4.0    5.0
    two    7.0    6.0
foo one    4.0    1.0
    two    NaN    6.0

We can load the 'users.csv' file in data file which contain the variable you want to use to index the rows ('weekday'), which variable you want to use to index the columns ('city'), and which variable will populate the values in the cells ('visitors').

In [3]:
users = pd.read_csv('data/users.csv', index_col ='index')
print(users)

      weekday    city  visitors  signups
index
0         Sun  Austin       139        7
1         Sun  Dallas       237       12
2         Mon  Austin       326        3
3         Mon  Dallas       456        5

    1-Pivot the users DataFrame with the rows indexed by 'weekday', the columns indexed by 'city', and the values populated with 'visitors'.

    2-Print the pivoted DataFrame.

In [4]:
users_pivot = users.pivot(index = 'weekday', columns = 'city', values = 'visitors') 
# so it helps how maay visitors visited for each city  based on the weekday.
print(users_pivot)

city     Austin  Dallas
weekday
Mon         326     456
Sun         139     237

    1-Pivot the users DataFrame with the 'signups' indexed by 'weekday' in the rows and 'city' in the columns.

    2-Print the new DataFrame.

In [54]:
signups_pivot = users.pivot(index= 'weekday', columns= 'city', values = 'signups')
print(signups_pivot)

city     Austin  Dallas
weekday
Mon           3       5
Sun           7      12

If you do not select any particular variables, all of them will be pivoted. In this case - with the users DataFrame - both 'visitors' and 'signups' will be pivoted, creating hierarchical column labels.

    1-Pivot the users DataFrame with both 'signups' and 'visitors' pivoted - that is, all the variables. This will happen automatically if you do not specify an argument for the values parameter of .pivot().

    2-Print the pivoted DataFrame.

In [5]:
pivot_all = users.pivot(index = 'weekday', columns = 'city')
print(pivot_all)

        visitors        signups
city      Austin Dallas  Austin Dallas
weekday
Mon          326    456       3      5
Sun          139    237       7     12

DataFrame.stack : Pivot a level of the column labels (inverse operation from unstack).

In [14]:
# Lets create multuple intex 
import numpy as np
index = pd.MultiIndex.from_tuples([('one', 'a'), ('one', 'b'),('two', 'a'), ('two', 'b')])
s = pd.Series(np.arange(1.0,5.0), index=index)
print(s)

one  a    1.0
     b    2.0
two  a    3.0
     b    4.0
dtype: float64

In [16]:
print(s.unstack(level=-1))

       a    b
one  1.0  2.0
two  3.0  4.0

In [17]:
print(s.unstack(level=0))

   one  two
a  1.0  3.0
b  2.0  4.0

# Melting Data Frames
A pivoted DataFrame to its original form, or to change it from a wide shape to a long shape. You can explicitly specify the columns that should remain in the reshaped DataFrame with id_vars, and list which columns to convert into values with value_vars

In [21]:
df = pd.DataFrame({'A': {0: 'a', 1: 'b', 2: 'c'},
                   'B': {0: 1, 1: 3, 2: 5},
                   'C': {0: 2, 1: 4, 2: 6}})
print(df)

   A  B  C
0  a  1  2
1  b  3  4
2  c  5  6

In [23]:
#Lets melt column B , keep the column with id_vars and melt the column with value_vars
df_B = df.melt(id_vars='A', value_vars='B')
print(df_B)

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5

In [24]:
#Lets melt B and C so you need the pass alist object to the value variable
df_BC = df.melt(id_vars='A', value_vars=['B', 'C'])
print(df_BC)

   A variable  value
0  a        B      1
1  b        B      3
2  c        B      5
3  a        C      2
4  b        C      4
5  c        C      6

In [26]:
 # The names of ‘variable’ and ‘value’ columns can be customized with  var_name & value_name
df_BC_name = df.melt(id_vars='A', value_vars=['B','C'], var_name='My var Name', value_name='MY value Name')
print(df_BC_name)

   A My var Name  MY value Name
0  a           B              1
1  b           B              3
2  c           B              5
3  a           C              2
4  b           C              4
5  c           C              6